body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #b4e7f1;
    height: 190px;
    text-align: center;
    font-size: 1.5em;
    color: #0867a7;
    display: flex;
}

header h1 {
    text-align: center;
    margin: auto;
    }

header img { 
    margin: 0 auto;
    height: 190px;
    width: 190px;
}

nav ul {
    list-style-type: None;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:hover {
    color: #000;
    background-color:#fff;
}

main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
    clear: left;
}

body{
    background-color:lightblue;
}

#salesitem1,#salesitem2 {
    width: 44%;
    float:  left;
    margin: 0 2%;
    border: solid #b4e7f1 2px;
    box-shadow: 2px 2px 4px #197b8f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round { 
    border-radius: 8px;
}

#customer-guarantee {
    clear: both; 
    margin-top: 20px; 
    padding-top: 20px;
    display: flex;
    align-items: center;
  
}

.action {
	font-size: 1.35em;
	color: #11489c;
	font-weight: bold;
}

footer {
    text-align: center;
    font-size: 1.15em;
    clear: left;
        
}
/* Media Query for Tablet Viewport */
@media screen and (max-width: 768px), print {

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.mobile {
		display:none;
	}

	/* Tablet Viewport: STyle rule for header */
	header { 
		padding-bottom: 2%;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	
    nav ul {
        list-style-type: None;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        font-weight: bold;
    }
    
    nav li a {
        display: block;
        color: #fff;
        padding: 0.25em 0.5em 0.25em;
        text-decoration: none;
    }
    
    nav li a:hover {
        color: #000;
        background-color: #fff;
    }
	
	/* Tablet Viewport: Style rules for main content area */
	main ul {
		margin: 0 0 4% 10%;
	}

	
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 600px) {

    header h1 {
        text-align: center;
        margin: 0;
        font-size: 1em;
        width: 100%;
        }

    main {
        padding: 2%;
        background-color: #fff;
        overflow: auto;
        font-family: 'Roboto', sans-serif;
        }

    nav ul {
        list-style-type: none;
        text-align: center;
        }
    
    nav li {
    display: block;
    font-size: 1.5em;
    border-top: 1px solid #0f0f10;

    }

    nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    }

    nav li a:hover {
        color: #000;
        background-color: #fff;
    }

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #b4e7f1;
        height: 200px;
        text-align: center;
        font-size: 1.5em;
        color: #0867a7;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img { 
        height: 150px;
        width: 150px;
    }  

    .image-container{
        display: none;
    }

        
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
}